*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
width: 100%;
display: flex;
justify-content: center;

}


.table {
    border: 1px solid black;
    margin-top: 50px;
    min-width: 500px;
    max-width: 1200px;
    min-height: 600px;
}

.innerTable {
    min-width: 700px;
    display: block;
   margin: 30px 30px;
    
    min-height: 200px;
    border: 1px solid black;
}


.studentsLine {
    min-height: 30px;
    min-width:30px;
    display: flex;
    padding-left: 200px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid black;
    width: 130px;
    max-width: 130px;
}


.results {
    display: block;
   
    width: 100% - 150px;
}

.taskName{
    min-width: 200px;
    font-size: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    display: flex;
}

.button {
display: inline;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.mentor {
    padding-left: 5px;
    justify-content: flex-start;
    border: 3px solid red;
    margin-top: 20px;
    margin-left: 20px;
    min-height: 40px;
    min-width: 200px;
    display: inline;
    align-items: center;
}



.h2{color:yellow};
.h1{color:blue}


